*.egg-info
eggs/
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
dist/
.settings/
bin/
buildout-cache/
develop-eggs/
parts/
src/*
!src/collective
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
testdata
venv
